<div class="c-header">
  <ul class="c-header__menu">
    <div class="c-header__menu-left">
      <li class="c-header__menu-item">
        <a class="c-header__menu-link o-font-f2-norma" href="">Inicio</a>
      </li>
      <li class="c-header__menu-item">
        <a class="c-header__menu-link o-font-f2-normal" href="">Categorías</a>
      </li>
    </div>
    <li
      class="c-header__menu-item c-header__menu-item--toggle"
      (click)="onToggle($event)">
      <a class="c-header__menu-link" href="">
        <svg-icon
          src="/assets/icons/toggle.svg"
          [class]="'c-header__menu-icon o-icon-size-md'"
          [applyClass]="true">
        </svg-icon>
      </a>
    </li>
    <li class="c-header__menu-item">
      <a class="c-header__menu-link" href="">
        <img src="/assets/images/Logo.png" alt="" class="c-header__logo" />
      </a>
    </li>
    <div class="c-header__menu-right">
      <li class="c-header__menu-item"
      (click)="onSearch($event)">
        <a class="c-header__menu-link" href="">
          <svg-icon
            src="/assets/icons/search.svg"
            [class]="'c-header__menu-icon o-icon-size-md'"
            [applyClass]="true">
          </svg-icon>
        </a>
      </li>
      <li class="c-header__menu-item"
      (click)="onShop($event)">
        <a class="c-header__menu-link" href="">
          <svg-icon
            src="/assets/icons/cart.svg"
            [class]="'c-header__menu-icon o-icon-size-md'"
            [applyClass]="true">
          </svg-icon>
        </a>
      </li>
    </div>
  </ul>
</div>

<div class="c-modal c-modal--toggle {{ activeModalToggle }}">
  <ul class="c-modal--toggle__menu">
    <li class="c-modal--toggle__menu-item">
      <a class="c-modal--toggle__menu-link o-font-f1-main" href="">Inicio</a>
    </li>
    <li class="c-modal--toggle__menu-item">
      <a class="c-modal--toggle__menu-link o-font-f1-main" href="">Categorías</a>
    </li>
  </ul>

  <app-button
    [typeButton]="typeButton"
    [description]="'Cerrar menú'"
    (click)="onToggle($event)"></app-button>
</div>

<div class="c-modal c-modal--search {{ activeModalSearch }}">
  <div class="c-modal--search__content">
    <p class="o-font-f1-section">Busca en nuestra tienda</p>
    <app-bar-search></app-bar-search>                                                    
  </div>
  <app-button
    [typeButton]="typeButton"
    [description]="'Cerrar menú'"
    (click)="onSearch($event)"></app-button>
</div>

<div class="c-modal c-modal--shop  {{ activeModalShop }}">
    <div class="c-modal--shop__head">
      <h2 class="c-modal--shop__title o-font-f1-main">Shopping Cart</h2>
      <svg-icon
      src="/assets/icons/close.svg"
      [class]="'c-modal--shop__icon o-icon-size-sm'"
      [applyClass]="true"
      (click)="onShop($event)">
    </svg-icon>
    </div>
    <div class="c-modal--shop__body">
      <img class="c-modal--shop__image"src="/assets/images/empty-cart.png" alt="">
      <h3 class="c-modal--shop__subtitle o-font-f1-subtitle">Tu carrito está vacio :(</h3>
      <p class="c-modal--shop__paragraph o-font-f1-section">Puedes consultar todos los productos disponibles y comprar algunos en la tienda</p>
      <app-button
      [typeButton]="typeButton"
      [description]="'Volver a comprar'"
      (click)="onShop($event)"></app-button>
    </div>
</div> 
